.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  
}

.left {
  flex: 1;
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.left h2 {
  margin: 0;
  padding: 0;
}

.right {
  flex: 1;
}

.right h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

.right .useful_links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.right .socials{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.right .socials svg {
  margin: 0px 3px;
  padding: 10px;
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
