.nav {
  width: 100%;
  height: 60px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.left {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

.right {}

.right ul {
  list-style-type: none;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.right ul li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.searchBar {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 0px solid #fff;
  width: 400px;
}