.nav {
  width: 100%;
  height: 60px;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.left {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.right {
  display: block;
}

.right ul {
  list-style-type: none;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.right ul li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.right ul li a,
.right ul li a:link,
.right ul li a:visited,
.right ul li a:hover,
.right ul li a:active,
.left a,
.left a:link,
.left a:visited,
.left a:hover,
.left a:active {
  text-decoration: none;
  color: inherit;
}

.searchBar {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border-radius: 8px;
  border: 0px solid #fff;
  width: 400px;
}

.responsive {
  display: none;
}

@media only screen and (max-width: 600px) {
  .right {
    display: none;
  }

  .responsive {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    top: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #0f0f0f;
  }

  .responsiveright {
    display: block;
  }

  .responsiveright ul {
    list-style-type: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .responsiveright ul li {
    display: block;
    font-size: 20px;
    padding: 20px;
  }

  .responsiveright ul li a,
  .responsiveright ul li a:link,
  .responsiveright ul li a:visited,
  .responsiveright ul li a:hover,
  .responsiveright ul li a:active {
    text-decoration: none;
    color: inherit;
  }

  .responsiveright .searchBar {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 10px;
    font-size: 1em;
    border-radius: 8px;
    border: 0px solid #fff;
    width: 100%;
  }
}
